.itemCountContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.itemCountContainer div {
  display: flex;
}

.addToCartButton{
  margin: 15px; 
}

.countButtons{
  margin: 0px 10px 0px 10px;
}